* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/* overflow: hidden; */
	scroll-behavior: smooth;
	font-family:'NanumBarunGothic', sans-serif;
	font-size: 1em;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}

.container{
	margin: 0 auto;
	width: 100%;
}
.innercon{
	margin: 0 auto;
	width: 1333px;
}
.page{
	border-bottom: solid 2px #000;
	height: 100vh;
	width: 100%;
}

#GNB {
	position: fixed;
	right: 50px;
	top: 50%;
	margin-top: -88px;
	width: 16px;
	height: 176px;
}
#GNB a {
	margin-top: 16px;
	width: 16px;
	height: 16px;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 50%;
	display: block;
	text-indent: -9999px;

}
#GNB a:first-child {
	margin-top: 0;
}
#GNB a.active {
	background-color: #000;
	
}

section {
	padding: 20px;
}
.section_full{
	width: 100%;
}

.Home_export{
	width: 1333px;
	height: 99px;
	margin: 0 0 61px;
	/* padding: 34px 500px 40px 80px; */
}

.homepersonal{	
	width: 187px;
	height: 19px;
	margin: 40px 60px 40px 80px;
}

.devision {
	display: inline-block;
	width: 1px;
	height: 16px;
	margin: 40px 0;
	background-color: #ccc;
  }
.homework{
	width: 42px;
	height: 19px;
	margin: 40px 0 40px 80px;
}
.imgheaderbadge {
	width: 16px;
	height: 16px;
	margin: 0 82px 53px 0;
	
  }

.homeprofile{
	width: 55px;
	height: 19px;
	margin: 40px 0 40px ;
}

.firstpage{
	margin: 72px 0 0 80px;
}

.maintext{
	margin-bottom:15px;
}

.mainglass{
	position: relative;
	right: 25px;
	z-index: 2;
}

.smilemo, .passionate, .mainpuzzle1{
	position: relative;
	right: 50px;
}
.togglebg{
	position: absolute;
	z-index: 1;
}

.toggleglass{
	position: absolute;
	z-index: 2;
}
.developer{
	margin:0 0 0 220px;
}


.particleblue{
	width: 30px;
	height: 32px;
	margin: 142px 84px 0 346px;
}

.myintro{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 414px;
	height: 35px;
	text-align: center;
	top: 50px;
}

.particlegreen{
	position: relative;
	width: 30px;
	height: 32px;
	margin: 0 0 0 83px;
	top: -50px;
}

.particleyellow{
	position: relative;
	width: 30px;
	height: 32px;
	margin: 45px 0 0 0 ;
	top: 120px;
}

.Rectangle {
	position: relative;
	top: 150px;
  width: 127px;
  height: 40px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #000;
}
.viewmore{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 90px;
	height: 19px;
}

.ardown{
	display: block;
	position: relative;
	top: 170px;
	margin: 0 auto;
	width: 18px;
  height: 24px;
  /* margin: 20px 81px 0 53px; */
}

.number01{
	width: 127px;
	height: 74px;
	z-index: 1;
}
.desktop{
	width: 624px;
	height: 499px;
	position: relative;
	z-index: 2;
	top: 60px;
	left: -140px;
}
.mainbox{
	
}
.centerbox{
	display: flex;
	margin-top: 185px;
}
.centerbox2{
	float: right;
}
.rightbox{
	display: flex;
	flex-direction: column;
}
.webpage{
	width: 300px;
	height: 36px;
	margin:55px 0 0 0;
	/* padding: 30px; */
	font-family: NanumGothic;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.8px;
  	color: #000;
	box-sizing: border-box;
}

.desktoppage{
	width: 500px;
	height: 64px;
	margin: 32px 0 34px 0;
	font-family: NanumGothic;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.8px;
	color: #000;
	display: flex;
}

.facing{
	width: 56px;
  height: 56px;
  margin: 0 0 0 40px;
}

.tap{
	width: 358px;
  height: 73px;
  /* margin: 34px 35px 35px 76px; */
  font-family: NanumGothic;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #666;
  line-height: 100%;
}

.btnclick{
	width: 127px;
  height: 40px;
  margin: 34px 2px 34px 0px;
  padding: 11px 18px 10px 19px;
  border-radius: 40px;
  background-color: #9960f1;
}

.hr{
	width: 475px;
	color: #d8d8d8;
}

.tech{
	display: flex;
}

.lang{
	width: 46px;
  height: 20px;
  margin-top: 13px;
  font-family: NanumGothic;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.html{
	background-color: #ff7604;
}

.webfile{
	width: 79px;
  height: 19px;
  margin: 11px 4px 13px 83px;
  font-family: NanumGothic;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999;
}
.link{
	width: 19px;
  height: 19px;
  margin: 13px 71px 12px 20px;
  object-fit: contain;
}

.css{
	background-color: #3e5af4;
}

.javascript{
	background-color: #fec74c;
}

.number02{
	width: 127px;
	height: 74px;
	margin-left: 200px;
	float: right;
	z-index: 1;
	
	
}

.dsk2{
	position: relative;
	width: 624px;
	height: 499px;
	z-index: 2;
	top: -15px; 
	left: 10px;
	float: right;
}

.page3{

}
 .triangle{
	width: 99px;
	height: 99px;
	position: relative;
}

.hire{
	width: 646px;
  height: 215px; 
  margin-top: 70px;
}
.namefull{
	justify-content: center;

}
.myname{
	flex-direction: column;
	margin: 90px 0 0 260px;
	position: absolute;
	
}
.myname2{
	display: flex;
	margin: 0 0 0 560px;
	position: relative;
	left: -90px;
	top: 20px;
}

.constme{
	width: 326px;
  height: 42px;
  
}

.imgparticleYellow{
	width: 30px;
  height: 32px;
  display: inline-block;
	position: relative;
	top: -12px;
	left: -40px;

}
.introme{
	width: 251px;
  height: 79px;
  position: relative;
  top: -20px;
  font-family: NanumGothic;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #000;
}
.imgparticleBlue{
	width: 30px;
  height: 32px;
  margin-top: 364px;
  
}
.imgparticleGreen{
	width: 30px;
  height: 32px;
  position: relative;
  top: 225px;
  left: -145px;

}
.callme{
	width: 369px;
  height: 369px;
  margin: 0 0 0 30px;
}

.hello{
	width: 241px;
  height: 76px;
  position: relative;
  margin-top: 60px;
  object-fit: contain;
	left: -45px;
} 

.hireglass{
	width: 60px;
	height: 60px;
	margin-top: 30px;
	object-fit: contain;
	position: relative;
	left: -80px;
	top: 10px;
}
.footerfull{
	padding-top: 0;
}

.contect{
	width: 1300px;
  height: 322px;
  background-color: #65bb7a;
  display: flex;

}

.Contects{
	width: 171px;
  height: 49px;
  /* margin: 0 28px 50px 4px; */
  font-family: NanumGothic;
  font-size: 42px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  

	/* position: relative; */
	/* top: 33px; */
}


.footer{
	/* display: flex;
	flex-direction: column; */
	/* margin-bottom: 16px; */
	margin: 0 auto;
}
.footerimg{
	width: 30px;
	height: 30px;
}

.footerinfo{
	width: 190px;
  height: 28px;
  /* margin: 50px 0 18px 13px; */
  font-family: NanumGothic;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  /* display: flex; */
	flex-direction: column;
}
.footerinfo a {
	color: #fff;
}
.footerinfo a:hover {
	color: #000;
}
